<footer id="footer">
  <div class="footer-inner">
    <a class="footer-item item1" href="#homepage" ng-class="{active:title==='homepage'}" ng-click="title='homepage'">
      <div class="footer-icon">
        <div class="img"></div>
      </div>
      <div class="text">支付宝</div>
    </a>
    <a class="footer-item item2" href="#koubei" ng-class="{active:title==='koubei'}" ng-click="title='koubei'">
      <div class="footer-icon">
        <div class="img"></div>
      </div>
      <div class="text">口碑</div>
    </a>
    <a class="footer-item item3" href="#friend" ng-class="{active:title==='friend'}" ng-click="title='friend'">
      <div class="footer-icon">
        <div class="img"></div>
      </div>
      <div class="text">朋友</div>
    </a>
    <a class="footer-item item4" href="#me" ng-class="{active:title==='me'}" ng-click="title='me'">
      <div class="footer-icon">
        <div class="img"></div>
      </div>
      <div class="text">我的</div>
    </a>
  </div>
</footer>
