<header id="head" >
  <div class="head-inner" >
    <div id="pay" class="content" ng-if="title!='koubei'">
      <div class="bill" ng-if="title!='friend'">
        <div class="bill-inner">
          <div class="img"></div>
        </div>
        <div class="text">
          <p>账单</p>
        </div>
      </div>
      <div class="op">
        <div class="op-bar">
          <div class="item">
            <div class="img1 img"></div>
          </div>
          <div class="item">
            <div class="img2 img"></div>
          </div>
          <div class="item">
            <div class="img3 img"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="koubei" ng-if="title==='koubei'">
      <div class="local"><img src="./images/kou1.jpg" alt="" style="width:.86rem;height:.48rem;"></div>
      <div class="search">
        <div class="open"><img src="./images/koubei3.jpg" alt="" style="width:.24rem;height:.23rem;;margin-top:-.10rem;"></div>
        <dv class="input"><input type="text" placeholder="搜索你最爱的店"></dv>
      </div>
      <div class="card"><img src="./images/koubei2.jpg" alt="" style="width:1.16rem;height:.48rem;"></div>
    </div>
  </div>
</header>
